/* itemDetail.css */

.item-detail {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ececec;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: pink;
}

.item-detail h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.item-detail p {
  font-size: 1.2rem;
  margin: 8px 0;
  color: #555;
}

.item-detail img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  display: block;
  margin: 10px auto;
}

.item-detail .counter-container {
  margin-top: 20px;
  text-align: center;
}
